<footer class="pt-4 pb-3 mt-5">
    <div class="container">
      <div class="text-center">
        <p>&copy; 2025 Viajeros Unidos. Todos los derechos reservados.</p>
        <div class="social-icons mt-3">
          <a href="https://www.instagram.com" target="_blank" class="social-icon instagram me-3">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com" target="_blank" class="social-icon facebook me-3">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.twitter.com" target="_blank" class="social-icon twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  