footer {
	background-color: var(--color-fondo-principal);
	color: var(--color-titulo-principal);
}
a {
	text-decoration: none;
}
.social-icon {
	font-size: 24px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: white;
	transition: transform 0.3s ease;
}

.social-icon:hover {
	transform: scale(1.1);
}

.social-icon.instagram {
	background-color: #e4405f;
}

.social-icon.facebook {
	background-color: #3b5998;
}

.social-icon.twitter {
	background-color: #1da1f2;
}
