<section class="text-center hero">
    <h1 class="text-justify my-3 container">La plataforma para compartir experiencias de viaje y conectar con otros viajeros</h1>
<p>
    Conecta con viajeros de todo el mundo, comparte tus aventuras y descubre nuevos destinos.¡Únete hoy y empieza a explorar!
</p>

    @if(isLoggedIn){
        <div class="buttons">
            <button routerLink="/login">Iniciar sesión</button>
            <button routerLink="/register">Registrarse</button>
        </div>
    }
</section>
