.hero {
	background-image: url(../../../images/hero.png);
	height: 400px;
	align-content: center;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: rgb(168, 168, 168);
}

h4 {
	color: white;
	font-size: 40px;
	/* background-color: #f0a369ee; */
}

.buttons {
	button {
		font-weight: bold;
		transition: 0.5s;
		justify-content: space-evenly;
		margin-bottom: 10px;
		border-radius: 10px;
		border: 2px solid var(--color-boron-fondo);
		background-color: var(--color-boton);
		border-radius: 10px;
		width: 200px;
		height: 40px;
		color: var(--color-texto-botones);

		&:hover {
			background-color: var(--color-boton-bgc-hover);
			color: var(--color-boton-hover);
			transform: scale(1.05);
		}
	}
}

@media (min-width: 425px) {
	.buttons {
		button {
			margin: 5px;
		}
	}
}
