h4 {
	color: var(--color-titulo-secundario);
}

.buttons {
	button {
		justify-content: space-evenly;
		background-color: var(--color-boton-fondo);
		border: 2px solid var(--color-boton-fondo);
		border-radius: 10px;
		width: 200px;
		height: 50px;
		margin: 5px;
	}
}

/* @media (min-width: 425px) {
	.buttons {
		button {
			margin: 5px;
		}
	}
} */

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
