.container {
	max-width: 800px;
	margin-bottom: 50px;
}

.btn {
	transition: background-color 0.3s ease;
}

h4{
	color: var(--color-boton);
}

.enviar{
	background-color: var(--color-boton) ;
	border:2px solid var(--color-boton);
	color: var(--color-texto-botones);
	transition: 0.3s;

	&:hover{
		background-color: var(--color-boton-bgc-hover);
        border: 2px solid var(--color-boton-bgc-hover);
        transform: scale(1.05);
    }
}


.swal2-toast .swal2-actions {
	justify-content: space-between;
	width: 100%;
  }
  
  .swal2-toast .swal2-confirm,
  .swal2-toast .swal2-cancel {
	font-size: 0.8rem;
	padding: 5px 10px;
  }
  