.container {
	max-width: 800px;
	margin-bottom: 50px;
}

.btn {
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #0056b3;

	@media (max-width: 768px) {
		.container {
			padding: 0 15px;
		}
	}
}
.swal2-toast .swal2-actions {
	justify-content: space-between;
	width: 100%;
  }
  
  .swal2-toast .swal2-confirm,
  .swal2-toast .swal2-cancel {
	font-size: 0.8rem;
	padding: 5px 10px;
  }
  