.text-danger {
	min-height: 25px;
}
.formulario {
	max-width: 800px;
	background-color: var(--color-fondo-tarjeta);
	backdrop-filter: blur(0.5px);
	border-radius: 1rem;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
	padding: 1.5625rem;
	margin: 0 auto;
}
