button {
	font-weight: bold;
	padding: 0.5rem 1rem;
	border: 2px solid var(--color-borde);
	border-radius: 0.625rem;
	background-color: var(--color-boton-fondo);
	color: var(--color-boton-texto);
	transition: all 0.3s ease;

	&:hover {
		background-color: var(--color-titulo-secundario);
		border: 2px solid var(--color-titulo-secundario);
		color: var(--color-boton-fondo);
	}
}

h4 {
	margin: 10px 0;
	text-align: center;
	color: var(--color-titulo-principal);
}
