<div class="d-flex justify-content-center align-items-center my-4">
  <form
    class="d-flex flex-wrap justify-content-center align-items-center w-100"
    (submit)="buscar()"
    novalidate
  >
    <div class="form-group mx-2">
      <label for="nombre" class="form-label">Destino</label>
      <input
        type="text"
        id="nombre"
        [(ngModel)]="nombre"
        name="nombre"
        class="form-control"
        placeholder="Ingrese destino"
      />
    </div>
    <div class="form-group mx-2">
      <label for="fecha-ida" class="form-label">Fecha de Ida</label>
      <input
        type="date"
        id="fecha-ida"
        [(ngModel)]="fecha_inicio"
        name="fecha_inicio"
        class="form-control"
      />
    </div>
    <div class="form-group mx-2">
      <label for="fecha-vuelta" class="form-label">Fecha de Vuelta</label>
      <input
        type="date"
        id="fecha-vuelta"
        [(ngModel)]="fecha_fin"
        name="fecha_fin"
        class="form-control"
      />
    </div>
    <div class="form-group mx-2">
      <label for="viajeros" class="form-label">Número de Viajeros</label>
      <input
        type="number"
        id="viajeros"
        [(ngModel)]="personas_minimas"
        name="personas_minimas"
        class="form-control"
        min="1"
        max="10"
        placeholder="1-10"
      />
    </div>
    <button type="button" class="btn btn-primary mx-2 mt-3" (click)="buscar()">
      Buscar
    </button>
  </form>
</div>
