@if (usuario) {
  <div class="container">
    <div class="d-flex justify-content-around perfil">
        <h1>{{ usuario.nombre }}</h1>
        @if (!usuario.imagen) {
          <p class="text-muted mt-2 foto">Aún no tienes foto</p>
        } @else {
          <figure>
            <img
            [src]="usuario.imagen"
            alt="Foto de perfil"
            class="rounded-circle"
          />
          </figure>
        }
    </div>
    
      <section class="row g-4 campos">
        <div class="col-md-6 caja">
          <div class="cajaTitulo">
            <h5>Descripción</h5>
            @if (usuario.descripcion) {
            <p>{{ usuario.descripcion }}</p>
            } @else {
            <p class="text-muted">
              {{ usuario.nombre }} no añadió descripción aún
            </p>
            }
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="cajaTitulo">
            <h5>Hobbies</h5>
          </div>
          @if (usuario.hobbies) {
          <p>{{ usuario.hobbies }}</p>
          } @else {
          <p class="text-muted">
            {{usuario.nombre}} no añadió ningún hobbie aún
          </p>
          }
      </div>
    
      <div class="col-md-6">
        <div>
          <div class="cajaTitulo">
            <h5>Género</h5>
          </div>
          @if (usuario.gender) {
            <p>{{ traductorDeGenero(usuario.gender) }}</p>
          } @else {
          <p class="text-muted">
            {{usuario.nombre}} aún no ha especificado un género
          </p>
          }
        </div>
      </div>
    
      <div class="mascota">
        <div class="centro">
          <div class="cajaTitulo">
            <h5>Mascotas</h5>
          </div>
          @if (usuario.pets) {
          <p>{{ usuario.pets }}</p>
          } @else {
          <p class="text-muted">
            {{usuario.nombre}} aún no ha dicho nada sobre mascotas
          </p>
          }
      </div>
      </div>
      </section>
    </div>
    } @else {
        <div class="container my-5">
            <div
              class="profile-header shadow-sm mb-5 bg-white p-4 rounded d-flex align-items-center justify-content-between flex-wrap"
            >
              <div>
                <h1 class="fw-bold text-success mb-0">Usuario no encontrado</h1>
              </div>
            </div>
        </div>
    }