.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    min-width: 260px;
  }
  .dropdown-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .btn-link {
    font-size: 0.9rem;
    color: #888;
  }
  .btn-link:hover {
    color: #333;
    text-decoration: none;
  }
  
  