.login {
	min-height: 60vh;
}
.card {
	background-color: var(--color-fondo-principal);
	color: var(--color-texto);
}
h3 {
	color: var(--color-titulo-principal);
}

.button {
	background-color: var(--color-boton-fondo);
	color: var(--color-boton-texto);
	padding: 5px;
	border-radius: 10px;
	transition: 0.5s;
}

.button:hover {
	background-color: var(--color-boton-hover-fondo);
	color: var(--color-boton-hover-texto);
	transition: 0.5s;
}
