<div class="login container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm border-0 rounded-3">
          <div class="card-body p-4">
            <h3 class="card-title text-center mb-4 fw-bold y border-bottom pb-2">Iniciar Sesión</h3>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input 
                  type="email" 
                  id="email"
                  class="form-control" 
                  formControlName="email"
                  placeholder="tucorreo@ejemplo.com"
                  required
                >
                <div class="error">
                  @if (checkError('email', 'required') || checkError('nombre', 'minlength')){
                  <p class="error">El campo email es obligatorio y debe tener formato email</p>}
              </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input 
                  type="password" 
                  id="password"
                  class="form-control" 
                  formControlName="password"
                  placeholder="********"
                  required
                >
                <div class="error">
                  @if (checkError('password', 'required') || checkError('password', 'minlength') || checkError('password', 'pattern')){
                  <p class="error">El campo contraseña es obligatorio, debe empezar por mayúscula y contener un número</p>}
              </div>
              </div>
              <div class="d-grid">
                <input class="button" type="submit" value="Iniciar Sesión">
              </div>
            </form>
            <p class="text-center mt-3 mb-0">
              ¿Todavía no estás registrado? 
              <a [routerLink]="'/register'" class="text-decoration-none">Regístrate aquí</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  