.register {
	min-height: calc(100vh - 66px - 123px);
	padding-bottom: 50px;
}

.card {
	background-color: var(--color-fondo-principal);
	color: var(--color-texto);
}

h3 {
	color: var(--color-titulo-principal);
}

.button {
	background-color: var(--color-boton);
	color: var(--color-boton-texto);
	padding: 5px;
	border-radius: 10px;
	transition: 0.5s;
	cursor: pointer;
	border: 1px solid var(--color-borde);
}

.button:hover {
	transition: 0.5s;
	background-color: var(--color-boton-bgc-hover);
	color: var(--color-boton-hover);
}
p {
	font-size: 0.8rem;
	color: tomato;
}

.error {
	height: 1.5rem;
}
