
<div class="text-center mt-4">
    <h1>Editar perfil</h1>
  </div>
  <div class="container mt-4">
    <form
    [formGroup]="perfilUsuarioForm"
    (ngSubmit)="onSubmit()"
    class="p-4 border rounded"
  >
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        placeholder="Ingresa tu nombre"
      />
    </div>
  
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        placeholder="Ingresa tu email"
      />
    </div>
  
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        placeholder="Ingresa tu contraseña"
      />
    </div>
  
    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        rows="3"
        placeholder="Describe algo sobre ti"
      ></textarea>
    </div>
  
    <div class="mb-3">
      <label for="gender" class="form-label">Género</label>
      <select id="gender" formControlName="gender" class="form-select">
        <option value="" disabled selected>Selecciona tu género</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="otro">Otro</option>
      </select>
    </div>
  
    <div class="mb-3">
      <label for="hobbies" class="form-label">Hobbies</label>
      <input
        type="text"
        id="hobbies"
        formControlName="hobbies"
        class="form-control"
        placeholder="Ingresa tus hobbies"
      />
    </div>
  
    <div class="form-check mb-3">
      <input
        type="checkbox"
        id="pets"
        formControlName="pets"
        class="form-check-input"
      />
      <label for="pets" class="form-check-label">¿Quieres mascotas?</label>
    </div>
  
    <div class="mb-3">
      <label for="photo" class="form-label">Foto</label>
      <input
        type="file"
        id="photo"
        formControlName="photo"
        class="form-control"
      />
    </div>
  
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary">Editar</button>
  </form>
  
  </div>
  
