
<app-finder></app-finder>
<app-last-trips></app-last-trips>

<app-guide></app-guide>
<div
  class="hero container-fluid d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="text-center">Bienvenido a Viajeros Unidos</h1>
  <p class="text-center">
    La plataforma para compartir experiencias de viaje y conectar con otros
    viajeros.
  </p>
  <div>
    <button class="btn btn-primary" routerLink="/login">Iniciar Sesión</button>
    <button class="btn btn-secondary m-3" routerLink="/register">
      Registrarse
    </button>
  </div>
</div>
