<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
    <h1 class="mx-3">Viajeros Unidos</h1>
    <ul class="d-flex">
        <li class="list-unstyled mx-3">
            <a routerLink="/perfil-usuario">Mi Perfil</a>
        </li>
    </ul>
</nav>

<app-last-trips></app-last-trips>

<div class="hero container-fluid d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center">Bienvenido a Viajeros Unidos</h1>
    <p class="text-center">La plataforma para compartir experiencias de viaje y conectar con otros viajeros.</p>
    <div>
        <button class="btn btn-primary" routerLink="/login">Iniciar Sesión</button>
        <button class="btn btn-secondary m-3" routerLink="/register">Registrarse</button>
    </div>
</div>


<app-guide></app-guide>
<app-featured-traveler></app-featured-traveler>
