
<h2 class="container">Mis viajes</h2>

<div class="gradiente"></div>
<div class="container py-4">
    @if (viajesDelUsuario.length > 0) {
    <section class="m-4 seccion container m-auto">
        <article class="viajes">
            @for (viaje of viajesDelUsuario; track viaje.id_viaje) {
            <section class="viaje" [class.bg-light]="viaje.estado === 'finalizado'"
                [class.opacity-75]="viaje.estado === 'finalizado'" style="position: relative;">
                @if (viaje.estado === 'finalizado') {
                <div class="sello-finalizado">VIAJE FINALIZADO</div>
                }


                <figure>
                    <figcaption><span>{{viaje.nombre_viaje}}</span></figcaption>
                    <img src="{{viaje.imagen}}" alt="">
                </figure>
                <div class="parrafos">
                    <ul class="list-unstyled">
                        <li>Fecha del viaje <br> <span>{{viaje.fecha_inicio | date: 'dd-MM-YYYY'}}</span> </li>
                        <li>Destino <br> <span>{{viaje.localizacion}}</span></li>
                    </ul>
                </div>
                <button class="btn info me-2" (click)="irATrip(viaje.id_viaje)">+ INFO</button>
                @if (viaje.estado !== 'finalizado') {
                <button class="btn btn-danger ms-2" (click)="eliminarViaje(viaje.id_viaje)">🗑️ Eliminar</button>}
            </section>
            }
        </article>

    </section>
    } @else {
    <p>No tienes viajes publicados aún.</p>
    }
</div>