/* You can add global styles to this file, and also import other style files */

:root {
	/* Colores principales */
	--color-fondo-principal: #f7f1e5;
	--color-titulo-principal: #3d5a5d;
	--color-titulo-secundario: #f0a469;
	--color-texto-botones: #3b332d;
	--color-boton-bgc-hover: #f0a369cc;
	--color-boton: #e4944a;
	--color-boton-texto-hover: #3a3128;
	--color-boton-texto: #100c0cd7;
	--color-enlace-hover: #ff6347;
	--color-fondo-seccion: #e9f6ef;
	--color-fondo-tarjeta: #e9c307;
	--color-borde: #d9d9d9;
	--color-sombra: rgba(0, 0, 0, 0.1);
}
