/* You can add global styles to this file, and also import other style files */

:root {
	/* Colores principales */
	--color-fondo-principal: #f7f1e5;
	--color-titulo-principal: #3d5a5d;
	--color-titulo-secundario: #f0a469;
	--color-texto: #333333;
	--color-boton: #e28b3a;
	--color-boton-hover-fondo: #f0a469;
	--color-boton-hover: #ffffff;
	--color-boton-texto: #100c0cd7;
	--color-enlace-hover: #ff6347;
	--color-fondo-seccion: #e9f6ef;
	--color-fondo-tarjeta: #e9c307;
	--color-fondo-pie-pagina: #3d5a5d;
	--color-borde: #d9d9d9;
	--color-sombra: rgba(0, 0, 0, 0.1);
}
