.profile {
	margin-top: 80px;
	margin-bottom: 80px;
}

button {
	border-radius: 10px;
	background-color: var(--color-boton);
	border: 2px solid var(--color-boton);
	padding: 5px;
	transition: 0.5s;
	font-weight: bold;
	color: var(--color-texto-botones);

	&:hover {
		background-color: var(--color-boton-bgc-hover);
		border: 2px solid var(--color-boton-bgc-hover);
		transform: scale(1.05);
	}
}

.gradiente {
	background-image: linear-gradient(to right, white, #e4944a, #e4944a, white);
	height: 3px;
}

.card {
	background-color: #ffebcc;
	border: none;
	border-left: 2px solid #e4944a;
}

h5,
h4 {
	color: #e4944a;
}
h4 {
	font-size: 2rem;
}
