@if (usuario) {
  <div class="container my-4">
    <div class="row align-items-center cubo-header p-3">
      <div class="col-8">
        <h1 class="nombre-usuario">{{ usuario.nombre }}</h1>
      </div>
      <div class="col-4 text-end">
        @if (usuario.imagen) {
          <img [src]="usuario.imagen" alt="Foto de perfil" class="foto-perfil img-fluid rounded-circle" />
        } @else {
          <p class="campo-vacio">
            <i class="bi bi-exclamation-circle-fill me-2"></i>
            Aún no tienes fotito
          </p>
        }
      </div>
    </div>
    <div class="text-end my-4">
      <button class="btn btn-success btn-lg shadow-sm rounded-pill">
        <i class="bi bi-plus-circle me-2"></i>
        Añadir viaje
      </button>
    </div>
    

    <div class="my-3">
      <h5>Descripción</h5>
      @if (usuario.descripcion) {
        <p>{{ usuario.descripcion }}</p>
      } @else {
        <p class="campo-vacio">
          <i class="bi bi-exclamation-circle-fill me-2"></i>
          Aún no tienes nada en este campo
        </p>
        
      }
    </div>

    <div class="my-3">
      <h5>Género</h5>
      @if (usuario.gender) {
        <p>{{ usuario.gender }}</p>
      } @else {
        <p class="campo-vacio">
          <i class="bi bi-exclamation-circle-fill me-2"></i>
          Aún no tienes nada en este campo
        </p>
        
      }
    </div>

    <div class="my-3">
      <h5>Hobbies</h5>
      @if (usuario.hobbies) {
        <p>{{ usuario.hobbies }}</p>
      } @else {
        <p class="campo-vacio">
          <i class="bi bi-exclamation-circle-fill me-2"></i>
          Aún no tienes nada en este campo
        </p>
        
      }
    </div>

    <div class="my-3">
      <h5>¿Quieres mascotas?</h5>
      @if (usuario.pets !== null && usuario.pets !== undefined) {
        <p>{{ usuario.pets ? 'Sí' : 'No' }}</p>
      } @else {
        <p class="campo-vacio">
          <i class="bi bi-exclamation-circle-fill me-2"></i>
          Aún no tienes nada en este campo
        </p>
        
      }
    </div>

  </div>
}
